body {
    margin: 0;
    padding: 0;
}
.profile {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
.profile-header {
    width: 100%;
    height: 50%;
    position: relative;
}
.profile-user-info {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.profile-user-info-avatar {
    width: 50%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}
.profile-username-area {
    width: 195px;
    overflow: hidden;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 105px;
    font-size: 18px;
    line-height: 40px;
    color: #303133;
}
.profile-user-signature-area {
    width: calc(100% - 105px);
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    position: absolute;
    top: 55px;
    left: 105px;
    color: #606266;
}
.profile-edit {
    width: 80px;
    height: 30px;
    border: 1px solid #606266;
    position: absolute;
    top: 20px;
    left: 310px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #303133;
    cursor: pointer;
}
.profile-user-relation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 96px;
    left: 105px;
    width: 180px;
    height: 54px;
}
.profile-user-relation > div {
    text-align: center;
    overflow: hidden;
}
.profile-user-relation-title {
    font-size: 13px;
    color: #606266;
}
.profile-user-relation-body {
    font-size: 14px;
    color: #606266;
}
.profile-profile-setting {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.profile-profile-setting-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.profile-body {
    width: 100%;
    height: auto;
}