.main {
    width: 900px;
    height: 650px;
    background-color: white;
    position: relative;
    border: none;
}
.header {
    width: 100%;
    height: 590px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.router-link-active {
    text-decoration: none;
}
.nav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 590px;
    left: 0;
    border: none;
    display: flex;
    justify-content: space-around;
}
.nav-btn {
    width: 32px;
    height: 55px;
    padding-top: 5px;
    font-size: 13px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.nav-btn > img {
    width: 26px;
    height: 26px;
}
.add {
    padding-top: 2px;
}
.add > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}